USE [master]
IF DB_ID(N'Restaurant') IS NOT NULL
BEGIN
THROW 50001, 'La base Restaurant existe deja. Utilisez une base vide pour installer le schema.', 1;
END
GO

CREATE DATABASE [Restaurant];
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Restaurant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Restaurant]
GO
/****** Objet : Table [dbo].[ABSENCE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABSENCE](
	[id_absence] [int] IDENTITY(1,1) NOT NULL,
	[id_employe] [int] NOT NULL,
	[date_absence] [date] NOT NULL,
	[motif] [varchar](255) NULL,
	[statut] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_absence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[AVIS] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVIS](
	[id_avis] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NOT NULL,
	[id_commande] [int] NULL,
	[note] [int] NOT NULL,
	[commentaire] [varchar](500) NULL,
	[date_avis] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_avis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[CAISSE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAISSE](
	[id_caisse] [int] IDENTITY(1,1) NOT NULL,
	[nom_caisse] [varchar](100) NOT NULL,
	[emplacement] [varchar](100) NULL,
	[statut] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_caisse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[CATEGORIE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIE](
	[id_categorie] [int] IDENTITY(1,1) NOT NULL,
	[nom_categorie] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[CLIENT] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](100) NOT NULL,
	[prenom] [varchar](100) NOT NULL,
	[telephone] [varchar](20) NULL,
	[email] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[COMMANDE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMANDE](
	[id_commande] [int] IDENTITY(1,1) NOT NULL,
	[date_commande] [datetime] NOT NULL,
	[id_client] [int] NULL,
	[id_table] [int] NULL,
	[id_serveur] [int] NULL,
	[statut] [varchar](30) NULL,
	[remarque] [varchar](255) NULL,
	[id_type_commande] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_commande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[COMMANDE_ACHAT] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMANDE_ACHAT](
	[id_commande_achat] [int] IDENTITY(1,1) NOT NULL,
	[id_fournisseur] [int] NOT NULL,
	[date_commande] [datetime] NULL,
	[statut] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_commande_achat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[CONGE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGE](
	[id_conge] [int] IDENTITY(1,1) NOT NULL,
	[id_employe] [int] NOT NULL,
	[date_debut] [date] NOT NULL,
	[date_fin] [date] NOT NULL,
	[type_conge] [varchar](50) NOT NULL,
	[statut] [varchar](30) NOT NULL,
	[motif] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_conge] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[EMPLOYE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYE](
	[id_employe] [int] IDENTITY(1,1) NOT NULL,
	[numero_employe] [varchar](20) NOT NULL,
	[nom] [varchar](100) NOT NULL,
	[prenom] [varchar](100) NULL,
	[telephone] [varchar](20) NULL,
	[email] [varchar](150) NULL,
	[date_embauche] [date] NULL,
	[statut] [varchar](30) NULL,
	[id_poste] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_employe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_employe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[FACTURE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURE](
	[id_facture] [int] IDENTITY(1,1) NOT NULL,
	[id_commande] [int] NOT NULL,
	[date_facture] [datetime] NULL,
	[montant_total] [decimal](10, 2) NOT NULL,
	[remise] [decimal](10, 2) NULL,
	[montant_net] [decimal](10, 2) NOT NULL,
	[id_taxe] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_facture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[FORMULE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMULE](
	[id_formule] [int] IDENTITY(1,1) NOT NULL,
	[nom_formule] [varchar](150) NOT NULL,
	[description] [varchar](255) NULL,
	[prix] [decimal](10, 2) NOT NULL,
	[disponible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_formule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[FORMULE_PLAT] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMULE_PLAT](
	[id_formule] [int] NOT NULL,
	[id_plat] [int] NOT NULL,
	[quantite] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_formule] ASC,
	[id_plat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[FOURNISSEUR] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOURNISSEUR](
	[id_fournisseur] [int] IDENTITY(1,1) NOT NULL,
	[nom_fournisseur] [varchar](150) NOT NULL,
	[telephone] [varchar](20) NULL,
	[email] [varchar](150) NULL,
	[adresse] [varchar](255) NULL,
	[statut] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fournisseur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[INGREDIENT] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENT](
	[id_ingredient] [int] IDENTITY(1,1) NOT NULL,
	[nom_ingredient] [varchar](100) NOT NULL,
	[unite_mesure] [varchar](30) NOT NULL,
	[seuil_alerte] [decimal](10, 2) NULL,
	[actif] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ingredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[LIGNE_COMMANDE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIGNE_COMMANDE](
	[id_ligne_commande] [int] IDENTITY(1,1) NOT NULL,
	[id_commande] [int] NOT NULL,
	[id_plat] [int] NOT NULL,
	[quantite] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ligne_commande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[LIGNE_COMMANDE_ACHAT] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIGNE_COMMANDE_ACHAT](
	[id_ligne_achat] [int] IDENTITY(1,1) NOT NULL,
	[id_commande_achat] [int] NOT NULL,
	[id_ingredient] [int] NOT NULL,
	[quantite] [decimal](10, 2) NOT NULL,
	[prix_unitaire] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ligne_achat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[LIGNE_COMMANDE_OPTION] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIGNE_COMMANDE_OPTION](
	[id_ligne_commande] [int] NOT NULL,
	[id_option] [int] NOT NULL,
	[quantite] [int] NOT NULL,
	[prix_supplement] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ligne_commande] ASC,
	[id_option] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[LIVRAISON] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVRAISON](
	[id_livraison] [int] IDENTITY(1,1) NOT NULL,
	[id_commande] [int] NOT NULL,
	[adresse_livraison] [varchar](255) NOT NULL,
	[telephone_client] [varchar](20) NOT NULL,
	[date_livraison] [datetime] NULL,
	[statut] [varchar](30) NOT NULL,
	[frais_livraison] [decimal](10, 2) NULL,
	[remarque] [varchar](255) NULL,
	[id_livreur] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_livraison] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[LIVREUR] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVREUR](
	[id_livreur] [int] IDENTITY(1,1) NOT NULL,
	[numero_livreur] [varchar](20) NOT NULL,
	[id_employe] [int] NOT NULL,
	[moyen_transport] [varchar](50) NULL,
	[statut] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_livreur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_livreur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[MOUVEMENT_CAISSE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOUVEMENT_CAISSE](
	[id_mouvement_caisse] [int] IDENTITY(1,1) NOT NULL,
	[id_session_caisse] [int] NOT NULL,
	[type_mouvement] [varchar](30) NOT NULL,
	[montant] [decimal](10, 2) NOT NULL,
	[date_mouvement] [datetime] NULL,
	[motif] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mouvement_caisse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[MOUVEMENT_STOCK] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOUVEMENT_STOCK](
	[id_mouvement] [int] IDENTITY(1,1) NOT NULL,
	[type_mouvement] [varchar](20) NOT NULL,
	[quantite] [decimal](10, 2) NOT NULL,
	[date_mouvement] [datetime] NULL,
	[motif] [varchar](255) NULL,
	[id_stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mouvement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[OPTION_PLAT] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPTION_PLAT](
	[id_option] [int] IDENTITY(1,1) NOT NULL,
	[nom_option] [varchar](100) NOT NULL,
	[description] [varchar](255) NULL,
	[prix_supplement] [decimal](10, 2) NOT NULL,
	[disponible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_option] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[PAIEMENT] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIEMENT](
	[id_paiement] [int] IDENTITY(1,1) NOT NULL,
	[id_facture] [int] NOT NULL,
	[montant_paye] [decimal](10, 2) NOT NULL,
	[mode_paiement] [varchar](50) NOT NULL,
	[date_paiement] [datetime] NULL,
	[statut] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_paiement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[PLANNING] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANNING](
	[id_planning] [int] IDENTITY(1,1) NOT NULL,
	[id_employe] [int] NOT NULL,
	[date_planning] [date] NOT NULL,
	[heure_debut] [time](7) NOT NULL,
	[heure_fin] [time](7) NOT NULL,
	[statut] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_planning] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[PLAT] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAT](
	[id_plat] [int] IDENTITY(1,1) NOT NULL,
	[nom_plat] [varchar](100) NOT NULL,
	[prix] [decimal](10, 2) NOT NULL,
	[id_categorie] [int] NOT NULL,
	[temps_preparation] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_plat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[PLAT_OPTION] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAT_OPTION](
	[id_plat] [int] NOT NULL,
	[id_option] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_plat] ASC,
	[id_option] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[POSTE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTE](
	[id_poste] [int] IDENTITY(1,1) NOT NULL,
	[nom_poste] [varchar](100) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_poste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[PREPARATION] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREPARATION](
	[id_preparation] [int] IDENTITY(1,1) NOT NULL,
	[id_ticket] [int] NOT NULL,
	[heure_debut] [datetime] NULL,
	[heure_fin] [datetime] NULL,
	[statut] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_preparation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[PRESENCE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESENCE](
	[id_presence] [int] IDENTITY(1,1) NOT NULL,
	[id_employe] [int] NOT NULL,
	[date_presence] [date] NOT NULL,
	[heure_arrivee] [time](7) NULL,
	[heure_depart] [time](7) NULL,
	[statut] [varchar](30) NOT NULL,
	[remarque] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_presence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[RECEPTION] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEPTION](
	[id_reception] [int] IDENTITY(1,1) NOT NULL,
	[id_commande_achat] [int] NOT NULL,
	[date_reception] [datetime] NULL,
	[statut] [varchar](30) NOT NULL,
	[remarque] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reception] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[RECETTE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECETTE](
	[id_recette] [int] IDENTITY(1,1) NOT NULL,
	[id_plat] [int] NOT NULL,
	[instructions] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_recette] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_plat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[RECETTE_INGREDIENT] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECETTE_INGREDIENT](
	[id_recette] [int] NOT NULL,
	[id_ingredient] [int] NOT NULL,
	[quantite] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_recette] ASC,
	[id_ingredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[RECLAMATION] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECLAMATION](
	[id_reclamation] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NOT NULL,
	[id_commande] [int] NULL,
	[sujet] [varchar](150) NOT NULL,
	[description] [varchar](500) NOT NULL,
	[date_reclamation] [datetime] NULL,
	[statut] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reclamation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[RESERVATION] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVATION](
	[id_reservation] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NOT NULL,
	[id_table] [int] NOT NULL,
	[date_reservation] [date] NOT NULL,
	[heure_reservation] [time](7) NOT NULL,
	[nombre_personnes] [int] NOT NULL,
	[statut] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reservation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[ROLE_UTILISATEUR] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_UTILISATEUR](
	[id_role] [int] IDENTITY(1,1) NOT NULL,
	[nom_role] [varchar](50) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[SALLE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALLE](
	[id_salle] [int] IDENTITY(1,1) NOT NULL,
	[nom_salle] [varchar](100) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_salle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[SERVEUR] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVEUR](
	[id_serveur] [int] IDENTITY(1,1) NOT NULL,
	[numero_serveur] [varchar](20) NOT NULL,
	[id_employe] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_serveur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_serveur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SERVEUR_EMPLOYE] UNIQUE NONCLUSTERED 
(
	[id_employe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[SESSION_CAISSE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSION_CAISSE](
	[id_session_caisse] [int] IDENTITY(1,1) NOT NULL,
	[id_caisse] [int] NOT NULL,
	[id_employe] [int] NOT NULL,
	[date_ouverture] [datetime] NULL,
	[date_fermeture] [datetime] NULL,
	[montant_initial] [decimal](10, 2) NOT NULL,
	[montant_final] [decimal](10, 2) NULL,
	[statut] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_session_caisse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[STOCK] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK](
	[id_stock] [int] IDENTITY(1,1) NOT NULL,
	[id_ingredient] [int] NOT NULL,
	[quantite_actuelle] [decimal](10, 2) NOT NULL,
	[date_mise_a_jour] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_stock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id_ingredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[TABLE_RESTAURANT] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLE_RESTAURANT](
	[id_table] [int] IDENTITY(1,1) NOT NULL,
	[numero_table] [int] NOT NULL,
	[capacite] [int] NOT NULL,
	[statut] [varchar](30) NOT NULL,
	[id_zone] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_table] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[TAXE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAXE](
	[id_taxe] [int] IDENTITY(1,1) NOT NULL,
	[nom_taxe] [varchar](100) NOT NULL,
	[taux] [decimal](5, 2) NOT NULL,
	[statut] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_taxe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[TICKET_CUISINE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET_CUISINE](
	[id_ticket] [int] IDENTITY(1,1) NOT NULL,
	[id_commande] [int] NOT NULL,
	[date_envoi] [datetime] NULL,
	[statut] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[TYPE_COMMANDE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_COMMANDE](
	[id_type_commande] [int] IDENTITY(1,1) NOT NULL,
	[nom_type] [varchar](50) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_type_commande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[UTILISATEUR] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILISATEUR](
	[id_utilisateur] [int] IDENTITY(1,1) NOT NULL,
	[nom_utilisateur] [varchar](100) NOT NULL,
	[mot_de_passe] [varchar](255) NOT NULL,
	[id_employe] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_utilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nom_utilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UTILISATEUR_EMPLOYE] UNIQUE NONCLUSTERED 
(
	[id_employe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[UTILISATEUR_ROLE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILISATEUR_ROLE](
	[id_utilisateur] [int] NOT NULL,
	[id_role] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_utilisateur] ASC,
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objet : Table [dbo].[ZONE] Date de script : 10/10/2026 15:31:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZONE](
	[id_zone] [int] IDENTITY(1,1) NOT NULL,
	[nom_zone] [varchar](100) NOT NULL,
	[id_salle] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_zone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AVIS] ADD  DEFAULT (getdate()) FOR [date_avis]
GO
ALTER TABLE [dbo].[COMMANDE] ADD  DEFAULT (getdate()) FOR [date_commande]
GO
ALTER TABLE [dbo].[COMMANDE_ACHAT] ADD  DEFAULT (getdate()) FOR [date_commande]
GO
ALTER TABLE [dbo].[FACTURE] ADD  DEFAULT (getdate()) FOR [date_facture]
GO
ALTER TABLE [dbo].[FACTURE] ADD  DEFAULT ((0)) FOR [remise]
GO
ALTER TABLE [dbo].[FORMULE] ADD  DEFAULT ((1)) FOR [disponible]
GO
ALTER TABLE [dbo].[FORMULE_PLAT] ADD  DEFAULT ((1)) FOR [quantite]
GO
ALTER TABLE [dbo].[FOURNISSEUR] ADD  DEFAULT ('ACTIF') FOR [statut]
GO
ALTER TABLE [dbo].[INGREDIENT] ADD  DEFAULT ((0)) FOR [seuil_alerte]
GO
ALTER TABLE [dbo].[INGREDIENT] ADD  DEFAULT ((1)) FOR [actif]
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE] ADD  DEFAULT ((1)) FOR [quantite]
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE_OPTION] ADD  DEFAULT ((1)) FOR [quantite]
GO
ALTER TABLE [dbo].[LIVRAISON] ADD  DEFAULT ((0)) FOR [frais_livraison]
GO
ALTER TABLE [dbo].[MOUVEMENT_CAISSE] ADD  DEFAULT (getdate()) FOR [date_mouvement]
GO
ALTER TABLE [dbo].[MOUVEMENT_STOCK] ADD  DEFAULT (getdate()) FOR [date_mouvement]
GO
ALTER TABLE [dbo].[OPTION_PLAT] ADD  DEFAULT ((0)) FOR [prix_supplement]
GO
ALTER TABLE [dbo].[OPTION_PLAT] ADD  DEFAULT ((1)) FOR [disponible]
GO
ALTER TABLE [dbo].[PAIEMENT] ADD  DEFAULT (getdate()) FOR [date_paiement]
GO
ALTER TABLE [dbo].[RECEPTION] ADD  DEFAULT (getdate()) FOR [date_reception]
GO
ALTER TABLE [dbo].[RECLAMATION] ADD  DEFAULT (getdate()) FOR [date_reclamation]
GO
ALTER TABLE [dbo].[SESSION_CAISSE] ADD  DEFAULT (getdate()) FOR [date_ouverture]
GO
ALTER TABLE [dbo].[STOCK] ADD  DEFAULT ((0)) FOR [quantite_actuelle]
GO
ALTER TABLE [dbo].[STOCK] ADD  DEFAULT (getdate()) FOR [date_mise_a_jour]
GO
ALTER TABLE [dbo].[TICKET_CUISINE] ADD  DEFAULT (getdate()) FOR [date_envoi]
GO
ALTER TABLE [dbo].[ABSENCE]  WITH CHECK ADD FOREIGN KEY([id_employe])
REFERENCES [dbo].[EMPLOYE] ([id_employe])
GO
ALTER TABLE [dbo].[AVIS]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [dbo].[CLIENT] ([id_client])
GO
ALTER TABLE [dbo].[AVIS]  WITH CHECK ADD FOREIGN KEY([id_commande])
REFERENCES [dbo].[COMMANDE] ([id_commande])
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [dbo].[CLIENT] ([id_client])
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_SERVEUR] FOREIGN KEY([id_serveur])
REFERENCES [dbo].[SERVEUR] ([id_serveur])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_SERVEUR]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_TABLE] FOREIGN KEY([id_table])
REFERENCES [dbo].[TABLE_RESTAURANT] ([id_table])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_TABLE]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_TYPE] FOREIGN KEY([id_type_commande])
REFERENCES [dbo].[TYPE_COMMANDE] ([id_type_commande])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_TYPE]
GO
ALTER TABLE [dbo].[COMMANDE_ACHAT]  WITH CHECK ADD FOREIGN KEY([id_fournisseur])
REFERENCES [dbo].[FOURNISSEUR] ([id_fournisseur])
GO
ALTER TABLE [dbo].[CONGE]  WITH CHECK ADD FOREIGN KEY([id_employe])
REFERENCES [dbo].[EMPLOYE] ([id_employe])
GO
ALTER TABLE [dbo].[EMPLOYE]  WITH CHECK ADD FOREIGN KEY([id_poste])
REFERENCES [dbo].[POSTE] ([id_poste])
GO
ALTER TABLE [dbo].[FACTURE]  WITH CHECK ADD FOREIGN KEY([id_commande])
REFERENCES [dbo].[COMMANDE] ([id_commande])
GO
ALTER TABLE [dbo].[FACTURE]  WITH CHECK ADD  CONSTRAINT [FK_FACTURE_TAXE] FOREIGN KEY([id_taxe])
REFERENCES [dbo].[TAXE] ([id_taxe])
GO
ALTER TABLE [dbo].[FACTURE] CHECK CONSTRAINT [FK_FACTURE_TAXE]
GO
ALTER TABLE [dbo].[FORMULE_PLAT]  WITH CHECK ADD FOREIGN KEY([id_formule])
REFERENCES [dbo].[FORMULE] ([id_formule])
GO
ALTER TABLE [dbo].[FORMULE_PLAT]  WITH CHECK ADD FOREIGN KEY([id_plat])
REFERENCES [dbo].[PLAT] ([id_plat])
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE]  WITH CHECK ADD FOREIGN KEY([id_commande])
REFERENCES [dbo].[COMMANDE] ([id_commande])
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE]  WITH CHECK ADD FOREIGN KEY([id_plat])
REFERENCES [dbo].[PLAT] ([id_plat])
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_LIGNE_COMMANDE_COMMANDE] FOREIGN KEY([id_commande])
REFERENCES [dbo].[COMMANDE] ([id_commande])
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE] CHECK CONSTRAINT [FK_LIGNE_COMMANDE_COMMANDE]
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_LIGNE_COMMANDE_PLAT] FOREIGN KEY([id_plat])
REFERENCES [dbo].[PLAT] ([id_plat])
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE] CHECK CONSTRAINT [FK_LIGNE_COMMANDE_PLAT]
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE_ACHAT]  WITH CHECK ADD FOREIGN KEY([id_commande_achat])
REFERENCES [dbo].[COMMANDE_ACHAT] ([id_commande_achat])
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE_ACHAT]  WITH CHECK ADD FOREIGN KEY([id_ingredient])
REFERENCES [dbo].[INGREDIENT] ([id_ingredient])
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE_OPTION]  WITH CHECK ADD FOREIGN KEY([id_ligne_commande])
REFERENCES [dbo].[LIGNE_COMMANDE] ([id_ligne_commande])
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE_OPTION]  WITH CHECK ADD FOREIGN KEY([id_option])
REFERENCES [dbo].[OPTION_PLAT] ([id_option])
GO
ALTER TABLE [dbo].[LIVRAISON]  WITH CHECK ADD FOREIGN KEY([id_commande])
REFERENCES [dbo].[COMMANDE] ([id_commande])
GO
ALTER TABLE [dbo].[LIVRAISON]  WITH CHECK ADD  CONSTRAINT [FK_LIVRAISON_LIVREUR] FOREIGN KEY([id_livreur])
REFERENCES [dbo].[LIVREUR] ([id_livreur])
GO
ALTER TABLE [dbo].[LIVRAISON] CHECK CONSTRAINT [FK_LIVRAISON_LIVREUR]
GO
ALTER TABLE [dbo].[LIVREUR]  WITH CHECK ADD FOREIGN KEY([id_employe])
REFERENCES [dbo].[EMPLOYE] ([id_employe])
GO
ALTER TABLE [dbo].[MOUVEMENT_CAISSE]  WITH CHECK ADD FOREIGN KEY([id_session_caisse])
REFERENCES [dbo].[SESSION_CAISSE] ([id_session_caisse])
GO
ALTER TABLE [dbo].[MOUVEMENT_STOCK]  WITH CHECK ADD  CONSTRAINT [FK_MOUVEMENT_STOCK_STOCK] FOREIGN KEY([id_stock])
REFERENCES [dbo].[STOCK] ([id_stock])
GO
ALTER TABLE [dbo].[MOUVEMENT_STOCK] CHECK CONSTRAINT [FK_MOUVEMENT_STOCK_STOCK]
GO
ALTER TABLE [dbo].[PAIEMENT]  WITH CHECK ADD FOREIGN KEY([id_facture])
REFERENCES [dbo].[FACTURE] ([id_facture])
GO
ALTER TABLE [dbo].[PLANNING]  WITH CHECK ADD FOREIGN KEY([id_employe])
REFERENCES [dbo].[EMPLOYE] ([id_employe])
GO
ALTER TABLE [dbo].[PLAT]  WITH CHECK ADD FOREIGN KEY([id_categorie])
REFERENCES [dbo].[CATEGORIE] ([id_categorie])
GO
ALTER TABLE [dbo].[PLAT_OPTION]  WITH CHECK ADD FOREIGN KEY([id_option])
REFERENCES [dbo].[OPTION_PLAT] ([id_option])
GO
ALTER TABLE [dbo].[PLAT_OPTION]  WITH CHECK ADD FOREIGN KEY([id_plat])
REFERENCES [dbo].[PLAT] ([id_plat])
GO
ALTER TABLE [dbo].[PREPARATION]  WITH CHECK ADD FOREIGN KEY([id_ticket])
REFERENCES [dbo].[TICKET_CUISINE] ([id_ticket])
GO
ALTER TABLE [dbo].[PRESENCE]  WITH CHECK ADD FOREIGN KEY([id_employe])
REFERENCES [dbo].[EMPLOYE] ([id_employe])
GO
ALTER TABLE [dbo].[RECEPTION]  WITH CHECK ADD FOREIGN KEY([id_commande_achat])
REFERENCES [dbo].[COMMANDE_ACHAT] ([id_commande_achat])
GO
ALTER TABLE [dbo].[RECETTE]  WITH CHECK ADD FOREIGN KEY([id_plat])
REFERENCES [dbo].[PLAT] ([id_plat])
GO
ALTER TABLE [dbo].[RECETTE_INGREDIENT]  WITH CHECK ADD FOREIGN KEY([id_ingredient])
REFERENCES [dbo].[INGREDIENT] ([id_ingredient])
GO
ALTER TABLE [dbo].[RECETTE_INGREDIENT]  WITH CHECK ADD FOREIGN KEY([id_recette])
REFERENCES [dbo].[RECETTE] ([id_recette])
GO
ALTER TABLE [dbo].[RECLAMATION]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [dbo].[CLIENT] ([id_client])
GO
ALTER TABLE [dbo].[RECLAMATION]  WITH CHECK ADD FOREIGN KEY([id_commande])
REFERENCES [dbo].[COMMANDE] ([id_commande])
GO
ALTER TABLE [dbo].[RESERVATION]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [dbo].[CLIENT] ([id_client])
GO
ALTER TABLE [dbo].[RESERVATION]  WITH CHECK ADD FOREIGN KEY([id_table])
REFERENCES [dbo].[TABLE_RESTAURANT] ([id_table])
GO
ALTER TABLE [dbo].[SERVEUR]  WITH CHECK ADD FOREIGN KEY([id_employe])
REFERENCES [dbo].[EMPLOYE] ([id_employe])
GO
ALTER TABLE [dbo].[SESSION_CAISSE]  WITH CHECK ADD FOREIGN KEY([id_caisse])
REFERENCES [dbo].[CAISSE] ([id_caisse])
GO
ALTER TABLE [dbo].[SESSION_CAISSE]  WITH CHECK ADD FOREIGN KEY([id_employe])
REFERENCES [dbo].[EMPLOYE] ([id_employe])
GO
ALTER TABLE [dbo].[STOCK]  WITH CHECK ADD FOREIGN KEY([id_ingredient])
REFERENCES [dbo].[INGREDIENT] ([id_ingredient])
GO
ALTER TABLE [dbo].[TABLE_RESTAURANT]  WITH CHECK ADD FOREIGN KEY([id_zone])
REFERENCES [dbo].[ZONE] ([id_zone])
GO
ALTER TABLE [dbo].[TICKET_CUISINE]  WITH CHECK ADD FOREIGN KEY([id_commande])
REFERENCES [dbo].[COMMANDE] ([id_commande])
GO
ALTER TABLE [dbo].[UTILISATEUR]  WITH CHECK ADD FOREIGN KEY([id_employe])
REFERENCES [dbo].[EMPLOYE] ([id_employe])
GO
ALTER TABLE [dbo].[UTILISATEUR_ROLE]  WITH CHECK ADD FOREIGN KEY([id_role])
REFERENCES [dbo].[ROLE_UTILISATEUR] ([id_role])
GO
ALTER TABLE [dbo].[UTILISATEUR_ROLE]  WITH CHECK ADD FOREIGN KEY([id_utilisateur])
REFERENCES [dbo].[UTILISATEUR] ([id_utilisateur])
GO
ALTER TABLE [dbo].[ZONE]  WITH CHECK ADD FOREIGN KEY([id_salle])
REFERENCES [dbo].[SALLE] ([id_salle])
GO
USE [master]
GO
